/*2017.5.15-pengtaojun*/
*{
    padding: 0;
    margin: 0;
    user-focus: none;
    font-family: STKaiti, KaiTi_GB2312, "华文楷体", "宋体", Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.all-wrap, .all-min-wrap{
    max-width: 1500px;
    overflow: hidden;
    margin: 0 auto;
}
.wrap{
    width: 1100px;
    overflow: hidden;
    margin: 0 auto;
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "微软雅黑";
}

#allmap {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#result {
    width: 100%;
    font-size: 12px;
}

dl, dt, dd, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

dt {
    font-size: 14px;
    font-family: "微软雅黑";
    font-weight: bold;
    border-bottom: 1px dotted #000;
    padding: 5px 0 5px 5px;
    margin: 5px 0;
}

dd {
    padding: 5px 0 0 5px;
}

li {
    line-height: 28px;
}
/*头部的轮播*/
.banner-wrap1 img{
    width: 100%;
}
.banner-wrap1{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.banner{
    width: 1950px;
    height: 600px;
    position: absolute;
    left: -283px;
    top: 0;
}
.banner-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#banner-bg{
    position: relative;
    width: 1100px;
    height: 600px;
    margin: 0 auto;
}
#banner-bg .control{
    position: absolute;
    width: 205px;
    height: 30px;
    top: 521px;
    left: 461px;
    background: url("../images/next&prev_line.png") repeat-x 10px 13px;
}
#banner-bg .control .left, .mp-banner .left, .sphere-of-business .left{
    width: 30px;
    height: 30px;
    background: url("../images/prev_jiantou.png") no-repeat;
    float: left;
    cursor: pointer;
    margin-right: 50px;
}
#banner-bg .control .left-active, .mp-banner .control .left-active, .sphere-of-business .left-active{
    background: url("../images/prev_jiantou_1.png") no-repeat;
}

#banner-bg .control .i-new, .sphere-of-business .control .i-new{
    float: left;
    margin-top: 6px;
    margin-right: 50px;
    overflow: hidden;
    background: url("../images/banner-cur.png") no-repeat;
}
#banner-bg .control .i-new>div, .sphere-of-business .control .i-new>div{
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: url("../images/next&prev_others.png") no-repeat 4px 4px ;
    float: left;
}
#banner-bg .control .i-new .active, .sphere-of-business .control .i-new .active{
    background: url("../images/banner-dot-active.png") no-repeat 4px 4px ;
}
#banner-bg .control .right,.mp-banner .right, .sphere-of-business .right{
    width: 30px;
    height: 30px;
    background: url("../images/next_jiantou.png") no-repeat;
    float: left;
    cursor: pointer;
}
#banner-bg .control .right-active, .mp-banner .control .right-active, .sphere-of-business .control .right-active{
    background: url("../images/nav_xiajiantou-1.png") no-repeat;
}
#banner-bg .items .img_1{
    border-top: 190px solid transparent;
    width: 535px;
    height: 66px;
    margin: 0 auto;
}
#banner-bg .items .img_2{
    border-top: 45px solid transparent;
    width: 469px;
    height: 34px;
    margin: 0 auto;
}
#banner-bg .items .img_3{
    border-top: 25px solid transparent;
    width: 593px;
    height: 14px;
    margin: 0 auto;
}
#banner-bg .items .img_4{
    margin:174px 0 0  60px;
    width: 180px;
    height: 52px;
    float: left;
}
#banner-bg .items .img_6{
    margin:190px 0 0  20px;
    width: 60px;
    height: 18px;
    float: left;
}
#banner-bg .items .img_5{
    position: absolute;
    top: 74px;
    left: 260px;
    width: 210px;
    height: 408px;
}

/*主要产品*/
.main-products{
    width: 100%;
    background: #f1f2f6;
    overflow: hidden;
}
.main-products .connect{
    width: 100%;
    overflow: hidden;
}
.main-products .connect>div{
    margin: 50px 539px;
    float: left;
}
.main-products>.wrap>.title{
    width: 100%;
    overflow: hidden;
}
.main-products>.wrap>.title>div{
    margin: 15px 463px;
    border-bottom: 53px solid transparent;
}
.mp-banner{
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 72px;
}
.mp-banner .index-axis{
    width: 1px;
    height: 384px;
    float: left;
    margin: 26px 59px 26px 9px;
    background: #d5dbe0;
}
.mp-banner .index-axis>div{
    margin-top: 60px;
    width: 19px;
    height: 19px;
    overflow: hidden;
    background: #f1f3f7;
    margin-left: -9px;
    cursor: pointer;
    position: relative;
}
.mp-banner .index-axis>div>div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.mp-banner .index-axis>div>.active{
    background: url("../images/main-products/mp-dot-act.png") no-repeat 7px 6px;
}
.mp-banner .index-axis>div>.act{
    background: url("../images/main-products/mp-active.jpg") no-repeat;
}
.mp-banner .index-axis div img{
    width: 100%;
    height: 100%;
    margin-top: 4px;
}
.mp-banner .index-axis .title{
    margin-top: 0;
}
.mp-banner .main{
    float: left;
    overflow: hidden;
}
.mp-banner .control, .cp-wrap .control{
    position: absolute;
    width: 610px;
    height: 30px;
    top: 240px;
    left: 489px;
    background: url("../images/next&prev_line.png") repeat-x 10px 13px;
}
.mp-banner .right, .cp-wrap .right{
    float: right;
}
.mp-banner .main .img, .cp-wrap .img{
    width: 420px;
    height: 436px;
    float: left;
    padding-bottom: 30px;
}
.mp-banner .content, .cp-wrap .content{
    float: left;
    position: relative;
    width: 610px;
}
.mp-banner .content .mp-cont-title, .cp-wrap .content .mp-cont-title{
    font-size: 30px;
    margin: 7px 0 25px 0;
    font-weight: bold;
    color: #311759;
}
.mp-banner .content .mp-bi, .cp-wrap .content .mp-bi{
    height: 2px;
    width: 100%;
    margin-bottom: 38px;
    position: relative;
    background: url("../images/main-products/mp-xiang.png") no-repeat;
}
.mp-banner .content .mp-img, .cp-wrap .content .mp-img{
    position: absolute;
    bottom: 0;
    right:0 ;
    width: 58px;
    height: 54px;
    background: url("../images/main-products/mp-img.png") no-repeat
}
.mp-banner .content>.bottom, .cp-wrap .content>.bottom{
    position: absolute;
    top: 295px;
    left: 0;
    width: 100%;
    overflow: hidden;
}
.mp-banner .content .cont_1, .cp-wrap .content .cont_1{
    overflow: hidden;
    float: left;
    height: 128px;
}
.mp-banner .content .cont1, .cp-wrap .content .cont1{
    line-height: 24px;
    font-size: 14px;
    color: #6b6a6f;
}
.mp-banner .content h1, .cp-wrap .content h1{
    font-size: 26px;
    margin-bottom: 14px;
    color: #6b6a6f;
}
.mp-banner .content span{
    font-size:30px;
    font-weight:bolder ;
    color: #000;
}
.mp-banner .content a{
    font-weight:bolder ;
    color: #583d8d;
}

.mp-banner .content .cont2, .cp-wrap .content .cont2{
    font-size: 14px;
    color: #6b6a6f;
    line-height: 24px;
}
.mp-banner .content .top, .cp-wrap .content .top{
    background: url("../images/main-products/mp-top.jpg") no-repeat 415px 0 ;
    height: 17px;
    margin-top: 34px;
}
.mp-banner .content .font, .cp-wrap .content .font{
    text-align: right;
    font-size: 18px;
    color: #6b6a6f;
    padding-right: 17px;
    line-height: 19px;
}
.mp-banner .content .cont3>.bottom, .cp-wrap .content .cont3>.bottom{
    background: url("../images/main-products/mp-bottom.jpg") no-repeat 589px 0 ;
    height: 17px;
}
/*公司简介*/
.cp-wrap  h1{
    text-align: center;
    margin: 100px 0 13px;
    font-size: 54px;
}
.cp-wrap  h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
}
.cp-wrap .title{
    margin-bottom: 54px;
}
.cp-wrap .main{
    width: 100%;
    overflow: hidden;
}
.cp-wrap .content .mp-bi .mp-img{
    background:url("../images/company-profile/cp-bi.jpg") no-repeat ;
}
.company-profile{
    width: 100%;
    background: #f1f2f6;
    position: relative;
    margin: 0 auto;
}
.company-profile>img{
    width: 100%;
}
.cp-wrap .main{
    position: relative;
}
.cp-wrap{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #FFF;
}
.cp-wrap .content .mp-cont-title{
    color: #FFF;
}
.cp-wrap .content h1{
    color: #fff;
}
.cp-wrap .content .cont1{
    color: #Fff;
}
.cp-wrap .content .cont2{
    color: #Fff;
}
.cp-wrap .content .font{
    color: #Fff;
}
.cp-wrap .control{
    top: 563px;
    left: 516px;
}
.cp-wrap .content .top{
    background: url("../images/company-profile/cp-dot-1.jpg") no-repeat 415px 0;
}
.cp-wrap .content .cont3>.bottom{
    background: url("../images/company-profile/cp-dot2.jpg") no-repeat 589px 0;
}
.cp-wrap .dot img{
    margin-left: 531px;
}
/*业务范围,团队介绍*/
.sphere-of-business{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background: #f1f2f6;
}
.sphere-of-business .wrap{
    overflow: hidden;
}
.sphere-of-business .connect{
    width: 104px;
    margin: 0 auto;
}
.sphere-of-business .title, .co-operating-agency .title, .contact-us .title{
    margin: 25px auto 5px auto;
    text-align: center;
    width: 300px;
    color: #311759;
    font-size: 54px;
}
.sphere-of-business h1, .co-operating-agency h1, .contact-us h1{
    font-size: 18px;
    text-align: center;
    margin: 0 auto 20px auto;
    width: 300px;
    color: #311759;
    letter-spacing: 5px;
}
.sphere-of-business .dot, .co-operating-agency .dot{
    width: 35px;
    margin: 0 auto 0;
}
.sphere-of-business .sob{
    width: 100%;
    overflow: hidden;
    margin-bottom: 27px;
}
.sphere-of-business .sob .items{
    width: 100%;
    height: 239px;
}
.sphere-of-business .sob .items-none{
    border-bottom: 2px dotted #e0e0e2;
    width: 790px;
    overflow: hidden;
    padding-bottom: 38px;
}
.sphere-of-business .control{
    width: 205px;
    margin: 0 auto 0;
    padding-bottom: 80px;
}
.floor img{
    width: 100%;
}

.top-auto{
    border-top: 52px solid transparent;
    width: 100%;
    overflow: hidden;
}
.top-auto>div{
    float: left;
}
.top-auto .index1{
    font-size: 90px;
    color: #6b6a6f;
    margin-top: 15px;
}
.top-auto .index2{
    width: 351px;
    text-align: right;
}
.top-auto .img{
    margin-left: 60px;
    cursor: pointer;
    overflow: hidden;
}
.top-auto .font{
    margin-left: 45px;
    margin-top: 24px;
    line-height: 24px;
    color: #6b6a6f;
    font-size: 14px;
}
.top-auto h1{
    width: 100%;
    text-align: right;
    margin-top: 33px;
    color: #5d556f;
    font-size: 24px;
    margin-bottom: 11px;
}
.top-auto h2{
    font-weight: normal;
    font-size: 14px;
    color: #5d556f;
}
.top-auto .btn{
    overflow: hidden;
    margin-left: 69px;
    margin-top: 24px;
    width: 67px;
    height: 67px;
    cursor: pointer;
    position: relative;
}
.top-auto .btn .btn-down{
    width: 100%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
}
.items-none{
    width: 790px;
    overflow: hidden;
    margin: 0 auto;
    font-size: 14px;
    color: #6b6a6f;
    line-height: 24px;
    display: none;
}
h3{
    width: 100%;
    height: 20px;
}
.sob-banner-wrap{
    padding-top: 100px;
    width: 100%;
    height: 190px;
    margin-bottom: 74px;
    position: relative;
    overflow: hidden;
}
.sob-banner{
    width: 306%;
    height: 100%;
    position: absolute;
    top: 100px;
    left: -1100px;
}
.ban-items{
    width: 1100px;
    height: 190px;
    float: left;
}
.ban-left{
    width: 532px;
    height: 188px;
    border: 1px solid #e0e1e5;
    float: left;
    position: relative;
}
.ban-right{
    width: 532px;
    height: 188px;
    border: 1px solid #e0e1e5;
    float: right;
    position: relative;
}
.sbo-floor{
    width: 46px;
    height: 190px;
    position: absolute;
    top: -1px;
    right: -1px;
    background: #2999d6;
}
.ban-cont .img{
    width: 156px;
    height: 156px;
    position: absolute;
    top: -62px;
    left: 25px;
    cursor: pointer;
}
.ban-cont .img .gai{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/sob/team_amore.png") no-repeat;
    display: none;
}
.ban-cont .img:hover .gai{
    display: block;
}
.ban-cont .present{
    padding: 30px 0  20px 222px ;
    height: 60px;
    width: 225px;
    float: left;
    font-size: 15px;
    color: #838386;
    line-height: 25px;
}
.ban-cont>.title{
    width: 221px;
    float: left;
    text-align: center;
    margin: 5px 0 0 0;
    color: #5f4c82;
}
.ban-cont>.title h4{
    font-weight: normal;
    font-size: 24px;
}
.ban-cont>.title h5{
    font-weight: normal;
    font-size: 18px;
}
.ban-cont>.input{
    width: 244px;
    height: 45px;
    border: 1px solid #dedfe3;
    float: left;
    margin-top: 16px;
}
.ban-cont .box{
    width: 45px;
    height: 100%;
    float: left;
    background: #d9d9e1 url("../images/sob/team_contact.png") no-repeat 11px 16px;
}
.ban-cont .input0{
    float: left;
    background: #e7e8ec;
    width: 199px;
    height: 100%;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    color: #5f4c82;
    cursor: pointer;
}
.ban-cont li{
    width: 46px;
    height: 47px;
    background: #2999d6;
    cursor: pointer;
}
.ban-cont li div{
    width: 100%;
    height: 100%;
}
.ban-cont li:hover{
    background: #168bcb;
}
.ban-cont .li01 div{
    background: url("../images/sob/team_contact.png") no-repeat 11px -31px ;
}
.ban-cont .li02 div{
    background: url("../images/sob/team_contact.png") no-repeat 11px -77px ;
}
.ban-cont .li03 div{
    background: url("../images/sob/team_contact.png") no-repeat 11px -128px ;
}
.ban-cont .li04 div{
    background: url("../images/sob/team_contact.png") no-repeat 11px -165px ;
}
/*合作机构*/
.coa{
    padding: 100px 0 50px 0;
    width: 100%;
}
.coa>.items{
    float:left;
    width: 469px;
    padding-left: 80px;
    border-top:10px solid transparent ;
    position: relative;
}
.coa>.items-act{
    border-right: 1px solid #d3d3d3;
    padding: 0;
    width: 549px;
    border-top: none 0 ;
}
.coa>.items .coa-title{
    color: #5f4c82;
    font-size: 36px;
}
.coa>.items .coa-jie-si{
    margin: 20px 0 0 0;
    font-size: 18px;
    color:#5f4c82 ;
    padding-left: 5px;
    letter-spacing: 3px;
}
.coa>.items .logo{
    width: 100%;
    overflow: hidden;
}
.coa .logo .img{
    width: 1000px;
    border-top: 50px solid transparent;
    overflow: hidden;
}
.coa .logo .img>a{
    overflow: hidden;
    float: left;
    cursor: pointer;
}
.coa .logo .img>a:hover{
    opacity: .5;
}
.duo{
    position: absolute;
    top: 5px;
    left: 447px;
    width: 70px;
    height: 26px;
    overflow: hidden;
}
.duo>div{
    width: 140px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.duo>div>div{
    width: 70px;
    height: 26px;
    float: left;
}
.duo img{
    width: 100%;
    height: 100%;
}
.co-operating-agency .wrap{
    padding-bottom: 80px;
}

/*联系我们*/
.contact-us{
    width: 100%;
    overflow: hidden;
    background: #f1f2f6;
}
.contact-us>img{
    width: 100%;
}
.contact-us .dot{
    margin: 0 auto 65px;
    width: 35px;
}
.contact-us .input{
    height: 47px;
    width: 100%;
    margin-bottom: 27px;
}
.contact-us .input>div{
    float: left;
    width: 340px;
    height: 45px;
    margin-right: 24px;
    border: 1px solid #dedfe3;
    background: #fff;
}
.contact-us .header{
    width: 46px;
    height: 100%;
    float: left;
}
.contact-us input{
    float: left;
    outline: none;
    border: none 0;
    height: 15px;
    width: 254px;
    padding: 0 20px;
    margin-top: 15px;
    color: #5f4c82;
    font-size: 16px;
}
.contact-us .header1{
    background:#dedfe3 url("../images/sob/xuebi.png") no-repeat 1px 7px;
}
.contact-us .header2{
    background:#dedfe3 url("../images/sob/xuebi.png") no-repeat -50px 7px;
}
.contact-us .header3{
    background:#dedfe3 url("../images/sob/xuebi.png") no-repeat -99px 7px;
}
.textarea{
   overflow: hidden;
    margin-bottom: 90px;
}
.tex{
    height: 100%;
    width: 707px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #dedfe3;
    float: left;
}
.tex .header4{
    width: 46px;
    height: 210px;
    float: left;
    background: #dedfe3 url("../images/sob/xuebi.png") no-repeat -150px 7px;
}
textarea{
    float: left;
    height: 100%;
    padding: 15px 15px;
    border: 1px solid transparent;
    outline: none;
    resize: none;
    color: #5f4c82;
}
.textarea .floor{
    width: 340px;
    height: 210px;
    float: left;
    margin-left: 24px;
}
.textarea .floor span{
    color: #d03030;
    font-size: 15px;
    line-height: 25px;
}
.textarea .floor a{
    color: #7f7d83;
    font-size: 15px;
    line-height: 25px;
}
.textarea .cont-font{
    color: #605f64;
    font-size: 18px;
    margin-top:40px ;
}
.textarea .a-niu{
    height: 45px;
    width: 100%;
    background: #168bcb;
    margin-top: 56px;
    cursor: pointer;
}
.textarea .a-niu:hover{
    background: #217dcb;
}
.textarea .a-niu .header{
    width: 46px;
    height: 100%;
    float: left;
    background:#2999d6 url("../images/sob/xuebi.png") no-repeat -195px 8px;
}
.textarea .a-niu .font{
    text-align: center;
    color: #fff;
    line-height: 45px;
    letter-spacing: 5px;
}
/*页脚*/
.footer{
    width: 100%;
    overflow: hidden;
    padding-bottom:100px ;
}
.footer .items{
    float: left;
    overflow: hidden;
    width: 365px;
}
.footer>.items>.img{
    width: 130px;
    height: 146px;
    float: left;
}
.footer .content{
    float: left;
    overflow: hidden;
    width: 235px;
}
.footer>.items .title{
    width: 100%;
    margin: 0 0 18px 0;
    font-size: 24px;
    line-height: none;
    height: 24px;
    text-align: left;
}
.footer>.items p{
    height: 31px;
    color: #524d5c;
    font-size: 18px;
}
.footer .content img{
    margin-bottom: 10px;
}
.map{
    width: 100%;
    overflow: hidden;
}

/*全屏定位*/
.scroll{
    width: 90px;
    height: 165px;
    position: fixed;
    bottom: 150px;
    right: 50px;
}
.scroll .title{
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    margin-left:15px;
    margin-bottom: 25px;
    overflow: hidden;
}
.scroll .title>.div{
    width: 50px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}
.ti1{
    background: url("../images/xubi.png") no-repeat -18px -1px;
    width: 50px;
    height: 50px;
}
.ti2{
    background: url("../images/xubi.png") no-repeat -18px -53px;
    width: 50px;
    height: 50px;
}
.email{
    width: 90px;
    height: 90px;
    background: url("../images/xubi.png") no-repeat 0 -104px;
    cursor: pointer;
    position: relative;
}
.email div{
    position: absolute;
    top: 27px;
    left: -137px;
    background: red;
    width: 150px;
    height: 35px;
    background: url("../images/....png") no-repeat;
}





